.QuizList {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(to top right, purple, crimson, orangered, gold);
}

.QuizList h1 {
  color: #fff;
  margin-left: 10%;
}
.QuizList h3 {
  color: #fff;
  margin-left: 10%;
}

.QuizList ul {
  list-style: none;
  margin-left: 10%;
  padding: 0;
}

.QuizList li {
  margin-bottom: 10px;
}

.QuizList li a {
  text-decoration: none;
  color: #fff;
}

.QuizList li a:hover {
  color: #363f54;
}